/*GUI1*/
.User-Textfield{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.Pass-Field{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.login-btn{
    -fx-effect: dropshadow(gaussian, black, 5, 0.3, 0, 0);
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.re-control{
    -fx-effect: dropshadow(gaussian, rgb(68, 77, 81), 10, 0.5, 0, 0);
}
/*GUI1*/
.search{
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-pref-width: 300px;
    -fx-pref-height: 10;
}
.ID{
    -fx-pref-width: 40px;
    -fx-pref-height: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.sc{
    -fx-pref-width: 50px;
    -fx-pref-height: 10;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}
.NWKTEXT{
    -fx-font-size: 16px;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
}
/*พื้นหลัง*/
.bg-scene1{
    -fx-background-image: url("image/Main.jpg");
    -fx-background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
    -fx-background-size: 100% 100%;;
    -fx-background-position: center;

}